<div class="container mt-4">
    <div class="row">
        <div style="background-color: rgba(0, 0, 0, 0.5); padding: 20px;">
            <h1 class="text-center">Welcome to Mean Stack</h1>
        </div>
        <div
        class="bg-image text-white d-flex align-items-center justify-content-center"
        style="
            background-image: url('../../../public/mern-stack-web-development-company.png');
            height: 400px;
            background-size: cover;
            background-position: center;
        "
        ></div>
    </div>
</div>